<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.junhee.researchWeb.research.repository.IResearchMapper">
	
	<resultMap id="ResearchMap" type="com.junhee.researchWeb.model.ResearchVO" >
		<id property="researchId" column="research_id" />
		<result property="researchTitle" column="research_title" />
		<result property="researchPurpose" column="research_purpose" />
		<result property="researchMethod" column="research_method" />
		<result property="researcher" column="researcher" />
		<result property="rewardType" column="reward_type" />
		<result property="rewardValue" column="reward_value" />
		<result property="takeTime" column="take_time" />
		<result property="researchType" column="research_type" />
		<result property="permit" column="permit" />
	</resultMap>
	
	<resultMap id="ClassMap" type="com.junhee.researchWeb.model.ClassVO" >
		<id property="classId" column="class_id" />
		<result property="teacherName" column="teacher_name"/>
		<result property="teacherId" column="teacher_id"/>
		<result property="className" column="class_name"/>
		<result property="classSchedule" column="class_schedule"/>
		<result property="needCredit" column="need_credit"/>
	</resultMap>
	
	<insert id="registerResearch">
		INSERT INTO research (research_id, research_title, research_purpose, research_method, researcher, reward_type, reward_value, take_time, research_type) 
		VALUES (research_seq.NEXTVAL, #{researchTitle}, #{researchPurpose}, #{researchMethod}, #{researcher}, #{rewardType}, #{rewardValue}, #{takeTime}, #{researchType})
	</insert>
	
	<select id="getMyResearch" resultMap="ResearchMap">
		SELECT * FROM research WHERE researcher=#{researcher}
	</select>
	
	<select id="getResearchInfo" resultMap="ResearchMap">
		SELECT * FROM research WHERE research_id=#{researchId}
	</select>
	
	<select id="getAllResearch" resultMap="ResearchMap">
		SELECT * FROM research WHERE permit=1
	</select>
	
	<select id="getSameMajorResearch" resultMap="ResearchMap">
		SELECT * FROM research A WHERE A.researcher IN (SELECT B.user_id FROM members B WHERE B.major=#{major} AND B.member_type='대학원생')
	</select>
	
	<update id="ChangePermitStatus">
		UPDATE research SET permit=#{permit} WHERE research_id=#{researchId}
	</update>
	
	<insert id="registerClass">
		INSERT INTO classes (class_id, teacher_name, teacher_id, class_name, class_schedule, need_credit) VALUES (class_seq.NEXTVAL, #{teacherName}, #{teacherId}, #{className}, #{classSchedule}, #{needCredit})
	</insert>

</mapper>